In [14]:
'1' + 2

TypeError: can only concatenate str (not "int") to str

In [16]:
6 % 4

2

In [17]:
type(6 % 4)

int

In [18]:
type(type(6 % 4))

type

In [19]:
'3 + 4 is ' + 3 + 4

TypeError: can only concatenate str (not "int") to str

In [20]:
0 < 0

False

In [21]:
'False' == False

False

In [22]:
True == 'True'

False

In [23]:
5 >= 5

True

In [24]:
True or "42"

True

In [25]:
6 % 5

1

In [26]:
5 < 4 and 1==1

False

In [27]:
'codeup' == 'codeup' and 'codeup' == 'Codeup'

False

In [28]:
4 >= 0 and 1 !== '1'

SyntaxError: invalid syntax (383778220.py, line 1)

In [29]:
6 % 3

0

In [30]:
5 % 2

1

In [31]:
[1] + 2

TypeError: can only concatenate list (not "int") to list

In [32]:
[1] + [2]

[1, 2]

In [33]:
[1] * 2

[1, 1]

In [34]:
[] + [] == []

True

In [35]:
{} + {}

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

In [80]:
"""
You have rented some movies for your kids:

The Little Mermaid for 3 days
Brother Bear for 5 days
Hercules for 1 day

If the daily fee to rent a movie is 3 dollars, how much will you have to pay?
"""

rented_movies = [
    ['The Little Mermaid', 'Brother Bear', 'Hercules'],
    [3, 5, 1]
    ]

total_pay = 3 * (sum(rented_movies[1]))
total_pay

27

In [91]:
"""
Suppose you're working as a contractor for 3 companies: Google, Amazon and Facebook.

They pay you the following hourly rates:

Google: 400 dollars
Amazon: 380 dollars
Facebook: 350 dollars
This week you worked: 10 hours for Facebook, 6 hours for Google and 4 hours for Amazon.

How much will you receive in payment for this week?
"""

payout = {
        'Companies': ['Google', 'Amazon', 'Facebook'],
        'Hourly Rate': [400, 380, 350],
        'Hours Worked': [6, 4, 10]
}
hours_worked = [6, 4, 10]

print(payout)
payout['Hourly Rate'][2]* 10 + payout['Hourly Rate'][0] * 6 + payout['Hourly Rate'][1] * 4

( 
 (payout['Hourly Rate'][0] * payout['Hours Worked'][0]) + 
 (payout['Hourly Rate'][1] * payout['Hours Worked'][1]) + 
 (payout['Hourly Rate'][2] * payout['Hours Worked'][2])
)

{'Companies': ['Google', 'Amazon', 'Facebook'], 'Hourly Rate': [400, 380, 350], 'Hours Worked': [6, 4, 10]}

7420

In [105]:
# A student can be enrolled to a class only if the class is not full and 
# the class schedule does not conflict with her current schedule.

def can_enroll(is_class_not_full, is_there_no_conflict):
    if is_class_not_full == True and is_there_no_conflict == True: 
        return 'Go on ahead, enroll!'
    else:
        return 'Try next semester.'

can_enroll(True, True)

'Go on ahead, enroll!'

In [53]:
items_bought = 4
items_bought > 2
offer_valid = True
offer_applied = items_bought and offer_valid
offer_applied

True

In [109]:
def offer_applied(items_bought, offer_valid, premium_member):
    if offer_valid == True and (items_bought > 2 or premium_member == True):
        return 'Can apply offer!'
    else: return 'Offer denied.'

offer_applied(2, True, True)

'Can apply offer!'

In [5]:
username = 'codeup'
password = 'notastrongpassword'

good_user_pass = (
    len(password) >= 5 and len(username) <= 20 and password != username and not
    (username[0] == ' ' or username[-1] == ' ' or password[0] == ' ' or password[-1] == ' ')
)

good_user_pass

True